/* [HELA HANGMAN WRAPPER] */
#hangman-wrap {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 150px;
  position: relative;
  
}


/* [LEFT - IMAGE] */
#hangman-left {
  width: 40%;
  background: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 10px;
  
}
#hangman-img {
  transition: all 1s;
  opacity: 0;
  width: 100%;
}

/* [RIGHT - GAME INTERFACE] */
#hangman-right {
  width: 50%;
  padding: 10%;
  background: rgb(255, 133, 76);
  border-style: solid;
  border-radius: 10px; 
  border-left: 0px;
 
}
#hangman-words span {
  display: inline-block;
  margin: 5px;
  font-size: 2em;
}
#hangman-char input[type=button] {
  font-size: 1.3em;
  padding: 5px;
}
#hangman-bottom {
  padding: 5px;
}

html, body {
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0;
  background: rgb(139, 187, 248);
}